body {
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("./img/beach_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1 {
  margin: 5px 0px 110px;
  font-size: 80px;
}

h3 {
  margin: 0px;
  font-size: 30px;
}

#ball {
  display: flex;
  width: 100px;
  height: 100px;
}

.cups {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 600px;
  top: 430px;
  left: 560px;
}

.cup {
  display: flex;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  width: 270px;
  height: 270px;
  transition: width 0.15s, height 0.15s;
}

.cup:hover {
  height: 290px;
}

.openCup {
  position: relative;
  top: -110px;
}

.playButton {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: sandybrown;
}

#message {
  margin: 95px 0px 0px 0px;
  font-size: 60px;
  font-weight: 800;
}

.greenText {
  color: rgb(0, 158, 0);
}

.redText {
  color: rgb(235, 12, 12);
}

#top {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 25px;
}

#speakerIcon {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

#speakerIcon:hover {
  width: 60px;
  transition: 0.3s;
}
